.meetVideoCont{
    position: relative;
    height: 100vh;
    background-color: rgb(6, 0, 52);
}

.meetUserVideo{
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}

.buttonsCont{
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}
.buttonsCont svg{
    font-size: 3rem;
}

.conferenceView{
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.conferenceView video{
    width: 40vw;
    min-width: 30vw;
    height: 20vh;
    border-radius: 1rem;
}

.chatRoom{
    
}